{% if site.category_tag_cloud %}
<section>
<h1>分類</h1>
<span class='categories_tag'> <a href='/blog/categories/android' style=''>Android(4)</a>  <a href='/blog/categories/bitmap' style=''>Bitmap(1)</a>  <a href='/blog/categories/cache' style=''>Cache(1)</a>  <a href='/blog/categories/guide' style=''>Guide(1)</a>  <a href='/blog/categories/product' style=''>Product(2)</a>  <a href='/blog/categories/putty' style=''>Putty(2)</a>  <a href='/blog/categories/screenshot' style=''>Screenshot(2)</a>  <a href='/blog/categories/tips' style=''>Tips(2)</a> </span>
</section>
{% endif %}
