{% if site.category_sidebar %}
<section>
<h1>分類</h1>
<ul>
  <li><a href='/blog/categories/android'>Android (4)</a></li>
  <li><a href='/blog/categories/bitmap'>Bitmap (1)</a></li>
  <li><a href='/blog/categories/cache'>Cache (1)</a></li>
  <li><a href='/blog/categories/guide'>Guide (1)</a></li>
  <li><a href='/blog/categories/product'>Product (2)</a></li>
  <li><a href='/blog/categories/putty'>Putty (2)</a></li>
  <li><a href='/blog/categories/screenshot'>Screenshot (2)</a></li>
  <li><a href='/blog/categories/tips'>Tips (2)</a></li>
</ul>
</section>
{% endif %}
