<section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    {% for post in site.posts limit: site.recent_posts %}
      <li class="post">
        <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul>
  <li><wb:follow-button uid="1063044885" type="red_1" width="67" height="24" ></wb:follow-button></li>
  <li><script type="text/javascript" src="http://www.xiami.com/widget/player-multi?uid=1767074&sid=150829,1769776436,1771004796,1770177060,3320597,2089217,189065,1769899857,1770409076,1306605,2120174,1770121488,3604175,3464928,1769476197,1117320,2130679,&width=252&height=586&mainColor=FF8719&backColor=494949&autoplay=1&mode=js"></script></li>
  <li><a href="http://www.yinxiang.com" target="_blank"><img src="/images/logo_yx.png"/></a></li>
  <li><a href="http://developer.android.com" target="_blank"><img src="/images/logo_android.png"/></a></li>
  <li><a href="https://github.com" target="_blank"><img src="/images/logo_github.png"/></a></li>
  </ul>